@import "tailwindcss";


html{
  background: black;
  scrollbar-gutter: stable both-edges;
  touch-action: manipulation;

}

body {
  background: black;
  color: var(--foreground);
  touch-action: manipulation;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(82 82 91) rgb(9 9 11); /* thumb zinc-600, track zinc-950 */
}

/* WebKit (Chrome / Safari / Edge) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(9 9 11); /* zinc-950 */
}

*::-webkit-scrollbar-thumb {
  background: rgb(82 82 91); /* zinc-600 */
  border-radius: 999px;
  border: 3px solid rgb(9 9 11); /* creates "floating" thin pill */
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(113 113 122); /* zinc-500-ish */
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(161 161 170); /* zinc-400-ish */
}

/* Optional: reduce noisy corner block in some containers */
*::-webkit-scrollbar-corner {
  background: rgb(9 9 11); /* zinc-950 */
}


/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge legacy */
  scrollbar-width: none; /* Firefox */
}
